$theme-light-gray:   #E9E8EA;
$theme-med-gray:     #78797C;
$theme-dark-gray:    #4A464B;
$theme-green:        #67B346;

$color__background-body: $theme-light-gray;
$color__background-screen: $theme-light-gray;
$color__background-hr: #ccc;
$color__background-button: $theme-green;
$color__background-pre: lighten($theme-green, 48);
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-button: $theme-light-gray;
$color__text-input: $theme-dark-gray;
$color__text-input-focus: #111;
$color__link: $theme-green;
$color__link-visited: $theme-green;
$color__link-hover: darken($theme-green, 15);
$color__text-main: $theme-dark-gray;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-pre: lighten($theme-green, 28);
