.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
    border-radius: 3px;
    background: $color__background-button;
    line-height: 1;
    padding: .4em .6em;
    margin-bottom: .5em;

    &,
    &:visited {
        color: $color__text-button;
    }

    &,
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
    }

    &:hover {
        border-color: $color__border-button-hover;
    }

    &:active,
    &:focus {
        border-color: $color__border-button-focus;
    }

    .site-header &,
    .widget-area &,
    .site-footer & {
        background-color: $theme-light-gray;

        &,
        &:visited {
            color: $theme-dark-gray;
        }
    }
}
