#secondary.widget-area {
    margin-top: 2em;
    background-color: $theme-med-gray;
    color: $theme-light-gray;

    .widget-wrapper {
        @include site-width();
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .widget {
        @media screen and (min-width: 37.5em) {
            width: calc(25% - 2em);
        }
    }
}

.widget {
    margin: 0 0 1.5em;

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
}
