a {
    color: $color__link;
    text-decoration: none;

    .site-content &,
    .site-footer & {
        box-shadow: inset 0 -1px 0 $color__link;

        &:hover,
        &:focus,
        &:active {
            box-shadow: inset 0 0 0 transparent, 0 3px 0 $color__link-hover;
        }
    }

    &:visited {
        color: $color__link-visited;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}
