a {
    color: $color__link;
    text-decoration: none;

    .site-content &,
    .site-footer & {
        box-shadow: inset 0 -1px 0 $color__link;

        &:hover,
        &:focus,
        &:active {
            box-shadow: inset 0 0 0 transparent, 0 3px 0 $color__link-hover;
        }
    }

    &.button,
    pre,
    code {
        text-shadow: none !important;
    }

    .hentry & {
        @include text-shadow($theme-light-gray);
    }

    .widget-area & {
        @include text-shadow($theme-med-gray);
    }

    .site-footer & {
        @include text-shadow($theme-dark-gray);
    }

    &:visited {
        color: $color__link-visited;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
    &:active {
        outline: 0;
    }

    .widget-area & {
        color: $theme-light-gray;
        box-shadow: inset 0 -1px 0 $theme-light-gray;

        &:hover,
        &:active,
        &:focus {
            box-shadow: inset 0 0 0 transparent, 0 3px 0 $theme-light-gray;
        }
    }

    .site-footer & {
        &:hover,
        &:focus,
        &:active {
            color: $theme-light-gray;
            box-shadow: inset 0 0 0 transparent, 0 3px 0 $theme-light-gray;
        }
    }
}
