.site-main > *:not(.hentry),
.entry-header,
.entry-content,
.entry-footer {
    @include site-width();
}

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
    padding-bottom: 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin-top: 1.5em;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.post-thumbnail {
    text-align: center;
}

a.post-thumbnail {
    display: block;
    text-align: center;

    &,
    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
    }
}
